---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/photography.css';
import PhotoCarousel from '../components/PhotoCarousel.jsx';

type CarouselImage = { src: string; alt: string };

const pageTitle = "Photography";
const recentfavouriteImages: CarouselImage[] = [
  { src: "/images/IWMLondon.jpg", alt: "A big naval gun at IWM London" },
  { src: "/images/coneonroof.jpg", alt: "An orange traffic cone on a high up roof" },
  { src: "/images/birdinwater.jpg", alt: "A medium sized bird in a pond" },
];
const morecatphotosImages: CarouselImage[] = [
  {src: "/images/poppy2.jpg", alt: "Poppy in a window"},
  {src: "/images/lunalarge.jpg", alt: "Luna on her back looking kind of large"},
  {src: "/images/penny2.jpg", alt: "Penny close up to the camera"},
  {src: "/images/poppydiva.jpg", alt: "Poppy in the sun, looking like a diva"},
];
const pragueImages: CarouselImage[] = [
  {src: "/images/goldceiling.jpg", alt: "The ceiling in Prague's main museum"},
  {src: "/images/viewofprague1.jpg", alt: "A view of Prague"},
  {src: "/images/praguemuseum.jpg", alt: "A photo of the exterior of Prague's main museum"},
  {src: "/images/praguemeerkat.jpg", alt: "A meerkat photographed at Prague Zoo, stood on their back feet"},
];
const pefkosrhodesImages: CarouselImage[] = [];
const londonImages: CarouselImage[] = [];
---
<BaseLayout>
  <div class="page-center"></div>

  <h2>My Favourite Photos -</h2>
  <section class="about-cards">
    <div class="card">
      <h3>A few recent favourites:</h3>
      <PhotoCarousel client:visible images={recentfavouriteImages} priority />
    </div>
    <div class="card">
      <h3>Some cat photos, of course:</h3>
      <PhotoCarousel client:visible images={morecatphotosImages} />
    </div>
  </section>

  <hr class="section-divider" />
  <h2>Some holiday photos:</h2>

  <section class="about-cards">
    <div class="card">
      <h3>Prague - June 2024:</h3>
      <PhotoCarousel client:visible images={pragueImages} />
    </div>

    {pefkosrhodesImages.length > 0 && (
      <div class="card">
        <h3>Pefkos/Rhodes - June 2025:</h3>
        <PhotoCarousel client:visible images={pefkosrhodesImages} />
      </div>
    )}

    {londonImages.length > 0 && (
      <div class="card">
        <h3>London - August 2025:</h3>
        <PhotoCarousel client:visible images={londonImages} />
      </div>
    )}
  </section>
</BaseLayout>